# Data Science Tools and Ecosystem

## Author
Nicholas S.

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: List popular languages for Data Science

- Python
- R
- SQL

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:


1. Pandas (Python)
2. Scikit-Learn (Python)
3. Numpy (Python)
4. caret (R)
5. dplyr (R)

|  Data Science Tool | 
|------|
| RStudio | 
| Jupyter Notebook |
| GitLab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This function will convert 200 minutes to hours by diving by 60
def min2hr(x):
    return x/60

In [4]:
min2hr(200)

3.3333333333333335